{
  "rules": {
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "radix": 0,
    "newline-after-import": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-extra-semi": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "indent": ["error", 2],
    "no-var": 1,
    "semi": 1
  },
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
